<meta name="viewport" content="width=device-width, initial-scale=0.4, maximum-scale=1.0, user-scalable=no" />

<div id="main_content">

	<h1>Garage Door</h1>

	<div class="videoWrapper">
    	<iframe width="960" height="540" src="http://71.160.205.74:8082/stream?width=960&height=540" frameborder="0" ></iframe>
	</div>

	<iframe id="controls" src="http://71.160.205.74:8002"></iframe>

</div>