// Place all the styles related to the rc_car controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#main_content {
	text-align: center;
}

/*#screen {
	width:100%;
	height:1080px;
	background-color:#000000;
}*/

#controls {
	width:100%;
	height:700px;
}