<h1>RC CAR</h1>

<div>
	<div>
		<button type="button">Left</button>
		<button type="button">Right</button>
	</div>

	<div>
		<button type="button">Forward</button>
		<button type="button">Backward</button>
	</div>
</div>