<h1>RC CAR</h1>

<div id="screen"></div>

<div id="controller">
	<div id="direction">
		<button id="button_left" type="button">Left</button>
		<button id="button_right" type="button">Right</button>
	</div>

	<div id="throttle">
		<button id="button_reverse" type="button">Reverse</button>
		<button id="button_accelerate" type="button">Accelerate</button>
	</div>
</div>

<button id="microphone" type="button">Microphone</button>